body {
    background-image: url('./img/ripkatka.png');
    background-repeat: repeat-y;
    background-size: contain;
}
ul {
    list-style-type: none;   
}
sub {
    font-size: 20px;
}
.basen {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 75px;
}
p {
    font-size: 45px;
    margin-left: 50px;
    text-shadow: 5px 5px #558abb;
}
.vojta img {
    width: 100%;
    height: 150px;
}